.asset{
    position: relative;
}
.asset__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.asset__header > ion-icon{
    cursor: pointer;
}
.asset__header > h3{
    font-size: 1.05rem;
    font-weight: 900;
    margin-top: 0;
    color: #120a00;
}
.asset > ion-icon{
    font-size: 4rem;
    color: snow;
}
.asset p{
    color: #544967;
    margin: .3em 0;
}
.asset > .usd-equip{
    font-weight: 600;
    font-size: 1.1rem;
}
.asset > .asset-value{
    font-weight: 600;
    font-size: .85rem;
}
.asset__img{
    user-select: none;
    pointer-events: none;
    width: 5em;
    height: 5em;
    /* opacity: .1; */
    position: absolute;
    object-fit: contain;
    margin-bottom: .5em;
    top: 50%;
    left: 72%;
    transform: translate(-50%, -50%);

}